<!DOCTYPE html>
<html>
  <head>
    <a href="./users">List of users</a>
    <a href="./tables">List of tables</a>
    <a href="./register">Register</a>
    <a href="./support">Write to support</a>
    <a href="./logout">Logout</a>
    <a href="./admin">Admin(Admin)</a>
    <a href="./createTable">Create Table(Moderator)</a>
    <a href="./supportread">Read support(Moderator)</a>
    <title><%= title %></title>
    <style>
      body {
        padding: 50px;
        font: 13px Helvetica, Arial, sans-serif;
      }
      .error {
          color: red
      }
      .success {
          color: green;
      }
    </style>
  </head>
  <body>
