<!DOCTYPE html>
<html>
  <head>
    <a href="./admin">Admin</a>
    <a href="./createTable">Create Table</a>
    <a href="./users">List of users</a>
    <a href="./logout">Logout</a>
    <title><%= title %></title>
    <style>
      body {
        padding: 50px;
        font: 13px Helvetica, Arial, sans-serif;
      }
      .error {
          color: red
      }
      .success {
          color: green;
      }
    </style>
  </head>
  <body>
