<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <p>
    <% if (access == -1) {%>
    <a href="./register">Register</a>
    <a href="./login">Login</a>
    <% } %>
    <% if (access >= 2) {%>
    <a href="./admin">Admin</a>
    <% } %>
    <% if (access >= 1) {%>
    <a href="./createTable">Create Table</a>
    <a href="./supportread">Read support</a>
    <% } %>
    <% if (access >= 0) {%>
    <a href="./users">List of users</a>
    <a href="./tables">List of tables</a>
    <a href="./support">Write to support</a>
    <a href="./logout">Logout</a>
    <% } %>
    </p>
    <title><%= title %></title>
    <style>
      body {
        padding: 50px;
        font: 13px Helvetica, Arial, sans-serif;
      }
      .error {
          color: red
      }
      .success {
          color: green;
      }
    </style>
    <br/>
  </head>
  <body>
