<% var title = 'Authentication Example' %>
<% include head %>
<center>
<h1 style="color:red;">Casino "Prancing pony"</h1>
<img width="1024px" src = "http://cs613526.vk.me/v613526459/db40/kLl_gInjIug.jpg">
</center>
<% include foot %>
