include head.ejs
style.
  body {
    padding: 50px;
    font: 16px "Helvetica Neue", Helvetica;
  }

table
  thead
    tr
      th Name
      th Stake
      th Timeout
  for table in tables
    tr
      td
        a(href='table' + table.id)= table.id
      td= table.stake
      td= table.timeout
